<section class="issuer_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <div class="wrapper">
                <div class="form-group col-md-4">
                  <select [(ngModel)]="filterTerm" (ngModelChange)="listOfIssuers();"  class="form-select">
                    <option selected>Show All</option>
                    <option value="00070">00070 China Bank Corporation</option>
                    <option value="20000">20000 20000</option>
                    <option value="10300">10300 10300</option>
                    <option value="00006">00006 RCBC</option>
                    <option value="19450">19450 Commerzbank Cobrands</option>
                    <option value="00062">00062 East West Bank</option>
                    <option value="19600">19600 Landesbank Berlin</option>
                    <option value="19550">19550 Landesbank Baden-Württemberg</option>
                    <option value="16500">16500 ING</option>
                    <option value="16600">16600 Comdirect</option>
                    <option value="19440">19440 Commerzbank AG</option>
                    <option value="16900">16900 Consorsbank</option>
                    <option value="18500">18500 Postbank</option>
                    <option value="16950">16950 Sparda-Bank</option>
                  </select>
                </div>
            </div>
            <div class="wrapper">
              <table class="table" *ngIf="showOnchange" >
                <thead class="thead-dark">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Code</th>
                  <th scope="col">createdBy</th>
                  <th scope="col">creationDate</th>
                  <th scope="col">name</th>
                  <th scope="col">updateState</th>
                  <th scope="col">label</th>
                  <th scope="col">availaibleAuthentMeans</th>
                </tr>
                </thead>
                <tbody  *ngFor="let issuer of issuers | filter: filterTerm;">
                <tr>
                  <td>{{ issuer.id }}</td>
                  <td>{{ issuer.code }}</td>
                  <td>{{ issuer.createdBy }}</td>
                  <td>{{ issuer.creationDate }}</td>
                  <td>{{ issuer.name }}</td>
                  <td>{{ issuer.updateState }}</td>
                  <td>{{ issuer.label }}</td>
                  <td>{{ issuer.availaibleAuthentMeans }}</td>
                </tr>
                <tr>
                   <td>
                     <div class="d-flex">
                          <button type="button" (click)="create(filterTerm)"  class="btn btn-primary ms-2 mt-2">Create</button>
                          <button type="button" (click)="update(filterTerm)" class="btn btn-success ms-2 mt-2">Update</button>
                          <button type="button" (click)="delete(filterTerm)" class="btn btn-danger ms-2 mt-2">Delete</button>
                     </div>
                   </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>

